<h1>Estas en signUp</h1>



<form action="/auth/signUp" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username:</label>
        <input type="text" name="username" class="form-control w-25" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password:</label>
        <input type="password" name="password" class="form-control w-25" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label class="form-label">Summoner Name: (optional)</label>
        <input type="text" name="summonerName" class="form-control w-25" id="exampleInputEmail1">
    </div>
    <button type="submit" class="btn btn-primary">Create Account!</button>
</form>