<h1>Admin Update</h1>

<h2>Estas editando como Admin: {{username}}</h2>


<form action="/profile/{{_id}}/adminUpdate" method="post">
    <div class="mb-3">
        <label for="" class="form-label">username:</label>
        <input type="text" name="username" value="{{username}}" class="form-control w-25">
        <label for="" class="form-label">summonerName:</label>
        <input type="text" name="summonerName" value="{{summonerName}}" class="form-control w-25">
        <select class="form-select w-25" name="role" aria-label="Default select example">
            <option value="IRON">IRON</option>
            <option value="BRONZE">BRONZE</option>
            <option value="SILVER">SILVER</option>
            <option value="GOLD">GOLD</option>
            <option value="PLATINUM">PLATINUM</option>
            <option value="DIAMOND">DIAMOND</option>
            <option value="MASTER">MASTER</option>
            <option value="GRANDMASTER">GRANDMASTER</option>
            <option value="CHALLENGER">CHALLENGER</option>
        </select>
        <button type="submit" class="btn btn-primary">Update!</button>
    </div>
</form>