<ol class="container" id="lista">
    {{#each AllPosts}}
    <li><a href="/forum/{{_id}}">{{title}}</a></li>
    {{/each}}
    </ul>
</ol>


<div class="d-flex justify-content-center">
    <video autoplay muted loop plays-inline>
        <source src="https://res.cloudinary.com/dalk1vcw9/video/upload/v1663272676/Poro_base_AN_idle3_o5p599.mp4">
    </video>
</div>