<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <h1>{{randomChamp.[0]}}</h1>
            <img src="{{image.[0]}}" class="card-img-top" alt="champImage">
            <div class="card-body">
                {{#each items}}
                <img src="{{this}}" alt="image">
                {{/each}}
            </div>
        </div>
    </div>
</div>